
img {
    max-width: 400px;
    max-height: 400px;
}

.container {
  display: flex;
  flex-flow: wrap;
}

body {
  /* margin-top: 100px; */
  /* background-color: #faca9c; */
  /* background-image: 
    url('/images/IMG_1076.JPG');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;  */
  background-color: black;
}

.myParksHeader {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}