
img {
    object-fit: cover;
}

.parksContainer {
  display: flex;
  flex-flow: wrap;
}

.modal{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
}

body {
  /* margin-top: 100px; */
  /* background-color: #faca9c; */
  /* background-image: 
    url('/images/IMG_1076.JPG');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;  */
  background-color: #f3f5f7;
}

.myParksHeader {
  font-family: 'Roboto', sans-serif;
  color: #3180c6;
  text-align: center;
}

.editForm {
  font-family: 'Roboto', sans-serif;
  color: #44505c;
}

.editFormDisplay {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.dateInput {
  float: left;
}

.deleteButton {
  float: left;
  vertical-align: middle;
}

.parkName {
  text-align: center;
  padding-top: 5px;
}

.textInputs {
  float: left;
}

.parkDescription {
  text-align: left;
  padding: 10px;
}

.visitDetails {
  text-align: center;
}

.editButton {
  float: right;
  padding-top: 5px;
}

.editButton:hover{
  cursor: pointer;
}

.deleteButton:hover{
  cursor: pointer;
}

.closeModal {
  float: right;
}