.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
}

.nav-link {
  float: left;
  color: white;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border:none;
  cursor: pointer;
  outline:0; */
}

.nav-link:hover {
  color: lightblue;
}

.nav-right {
  float: right;
}